.contactPopupButtonContainer {

    .contactPopupButton {
        .MuiSvgIcon-root {
            width: 1.75rem;
        }
    }

}

.contactButtonPopupContent {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem;

    .contactButtonPopupContent_item {
        display: flex;
        gap: 1rem;
        align-items: center;

        .MuiSvgIcon-root {
            width: 1.25rem;
        }

        &.location {
            transition: all 0.15s ease-in-out;
            &:hover {
                color: goldenrod;
            }
        }
    }
}