.aboutMePage {
    background: linear-gradient(225deg, rgba(0, 0, 0, 1) 79%, rgba(87, 66, 0, 1) 98%);
    color: white;


    .aboutMeContent {
        flex-basis: 60%;
        height: auto;
        display: flex;
        background-color: white;
        color: black;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .title {
            font-size: 6rem;
            padding: 1.5rem;
            font-family: 'Vladimir Script', 'Brush Script MT', 'Roboto';
            white-space: nowrap;
            align-self: start;
        }

        .textContent {
            padding: 2rem;
            font-size: 1.35rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            p {
                border-bottom: 0.25rem solid goldenrod;
                padding-bottom: 0.5rem;
            }
        }

    }

    .titleImgContainer {
        color: goldenrod;
        flex-basis: 40%;

        .imgContainer {
            min-height: 0;
            height: 100%;

            img {
                object-fit: contain;
                align-self: end;
                max-height: 100%;
                height: auto;
            }
        }
    }
}

@media (max-width: 1500px) {
    .aboutMePage {
        .aboutMeContent {
            .textContent {
                font-size: 1.15rem;
            }
        }
    }
}

@media (max-width: 1150px) {
    .aboutMePage {
        .aboutMeContent {
            .title {
                font-size: 4.5rem;
            }

            .textContent {
                padding: 1rem;
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 900px) {
    .aboutMePage {
        .aboutMeContent {
            flex-basis: 100%;
        }
        .titleImgContainer {
            display: none;
        }
    }
}