.publicationsPage {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .titleContainer {
        padding: 1rem;

        p {
            font-size: 6rem;
            font-family: 'Vladimir Script', 'Brush Script MT', 'Roboto';
            white-space: nowrap;
            align-self: start;
            border-bottom: 0.5rem solid goldenrod;
            width: fit-content;
        }
    }

    .publicationsContainer {
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        justify-content: space-evenly;

        .publicationContainer {
            flex: 1 1 32%;
            display: flex;
            flex-direction: column;
            max-width: 23rem;
            box-shadow: 0px 0px 12px 6px whitesmoke;
            padding: 1rem;
            border-radius: 0.25rem;
            justify-content: space-between;

            .publicationTeaserHeader {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;

                .teaserTitle {
                    font-size: 1.25rem;
                    padding-bottom: 1.25rem;
                }

                .MuiChip-root {
                    width: fit-content;
                    align-self: start;
                }
            }

            .teaserContent {}

            .MuiButtonBase-root {
                font-weight: bold;
                width: fit-content;
                align-self: flex-end;
                color: black;
                box-shadow: 0px 0px 12px 6px whitesmoke;

                &:hover {
                    background-color: rgba(218, 165, 32, 0.2);
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .publicationsPage {
        .titleContainer {
            p {
                font-size: 4.5rem;
            }
        }
    }
}

@media (max-width: 350px) {
    .publicationsPage {
        .titleContainer {
            p {
                font-size: 3.5rem;
            }
        }

        .publicationsContainer {
            padding: 1rem;

            .publicationContainer {
                .publicationTeaserHeader {
                    .teaserTitle {
                        font-size: 1.1rem;
                    }

                }

                .teaserContent {
                    font-size: 0.75rem;
                }
            }
        }
    }
}