.areaOfExpertisePage {

    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 4rem);
    overflow: auto;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 79%, rgba(87, 66, 0, 1) 98%);
    // scroll-snap-type: y proximity;

    .introPage {
        position: relative;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: fit-content;
        overflow: hidden;
        z-index: 5;

        .imgContainer {
            align-self: normal;

            img {
                z-index: -1;
                height: auto;
                width: 100%;
                object-fit: cover;
            }
        }

        .header {
            color: goldenrod;
            white-space: nowrap;
            padding: 2rem;
            font-family: 'Vladimir Script', 'Brush Script MT';
            font-size: 10rem;
            font-weight: bold;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
        }
    }

    .contentPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;

        .MuiTabs-root {
            padding-bottom: 1.5rem;

            .MuiButtonBase-root {
                color: white;
            }

            .MuiTabs-indicator {
                background-color: goldenrod;
            }
        }

        &>.MuiBox-root {
            width: 70%;
            height: 100%;
            box-shadow: 1px 1px 1px 1px solid black;
            padding-bottom: 1.5rem;
        }

        .tabsContentText {
            .title {
                padding-bottom: 1.5rem;
            }

            &>p {
                padding-bottom: 1rem;
            }

            ol {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                &>li {
                    padding-bottom: 0.5rem;
                    border-inline-start: 2px solid goldenrod;
                }

                & li {
                    padding-inline-start: 0.75rem;
                }
            }
        }
    }

    .glassBg {
        background: rgba(0, 0, 0, 0.74);
        border: 0.75rem solid white;
        box-shadow: 0 8px 48px rgba(0, 0, 0, 0.95);
    }

}

@media (max-width: 1200px) {
    .areaOfExpertisePage {
        .introPage {
            .header {
                font-size: 7rem;
            }
        }
    }
}

@media (max-width: 875px) {
    .areaOfExpertisePage {
        .introPage {
            .header {
                font-size: 4rem;
            }
        }

        .contentPage {
            .MuiTabs-root {
                .MuiButtonBase-root {
                    color: white;
                    font-size: 0.75rem;
                }
            }

            &>.MuiBox-root {
                width: 90%;
                height: 100%;
                box-shadow: 1px 1px 1px 1px solid black;
                padding-bottom: 1rem;
            }

            .tabsContentText {
                .title {
                    // font-size: ;
                }

                &>p {
                    padding-bottom: 1rem;
                }

                ol {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    &>li {
                        padding-bottom: 0.5rem;
                        border-inline-start: 2px solid goldenrod;
                    }

                    & li {
                        padding-inline-start: 0.75rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .areaOfExpertisePage {
        .introPage {
            .header {
                font-size: 2.5rem;
            }
        }
    }
}

@media (max-width: 375px) {
    .areaOfExpertisePage {
        .introPage {
            .header {
                font-size: 1.75rem;
                border-width: 0.5rem;
            }
        }
    }
}